*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.container{
    width:70%;
    margin: auto;
}
nav, .navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:70px;
    position: relative;
}
nav{
    box-shadow: 1px 1px 10px #ccc;
    background-color: #fff;
    position: fixed !important;
    top: 0;
    z-index: 500;
}
li{
    list-style-type: none;
}
.logo{
    width:20%;
    padding: 10px;
}
nav img{
    width:70%;
}
.open-modal{
    animation: open-modal  2s ease forwards;
}
.close-modal{
    animation: close-modal 2s ease backwards;
}

@keyframes open-modal{
    0%   {width: 0;}
    100% {width: 90%;}
}

@keyframes close-modal{
    0%   {width:90%;}
    100%  {width:0;}
}

#cart-number{
    background-color: rgb(73, 185, 73);
    border-radius: 50%;
    color: #fff;
    padding:0 3px;
    font-size: 12px;
}
.cart-btn button{
    border: none;
    background: none;
    color:green;
    cursor: pointer;
}
.quantity-btns input{
    width:55%;
    text-align: center;
    border:none;
    background: none;
    outline: none;
    color: green;
}
.add-btn{
    width: 100%;
}
nav a{
    padding: 0 20px;
    text-decoration: none;
    color: #000;
}
nav a i{
    padding:0 10px;
}
.dropdown{
    display: none;
    position: absolute;
    bottom:-40px;
    right:10%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
}
#user-log:focus +.dropdown{
    display: block;
}

/* food category section */
#category, #restaurant{
    padding: 20px 0;
    border-bottom: 2px solid #eee4e4;
}
#category h1{
    font-weight: 900;
}
.food-category{
    padding: 15px 0;
    display: flex;
}
.food-col{
    width:16.66%;
}
.food-col img{
    width: 100%;
}

/* restaurant section */

#restaurant h1{
    display: inline-block;
}
.restaurant-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
#restaurant button{
    background-color: #ccc;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
    margin:5px;
}
.restaurant-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: all 2s ease;
}
.restaurant-col{
    width: 33.33%;
    padding:10px;
}
.restaurant-col img{
    width:100%;
    height: 200px;
    border-radius: 20px;
}
.restaurant-container span{
    padding:0 5px;
}
.restaurant-col p{
    font-weight:lighter;
    color: #aaa;
}
a{
    text-decoration: none;
    color:#000;
}
.star-rating{
    background-color: green;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    padding:2px;
}

/* Display hotel section */
.hotel-display{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    border-bottom: 1px solid #eee4e4;
}
.hotels-col{
    width:33.33%;
    padding:10px;
}
img{
    width:100%;
}
.hotels-col img{
    width:100%;
    height: 200px;
    border-radius: 20px;
}
.hotels-col span{
    padding:0 5px;
}
.hotels-col p{
    font-weight:lighter;
    color: #aaa;
}

/* footer section */
footer{
    background-color: #000;
    color: #fff;
    
}
#footer{
    display: flex;
    padding:20px;
}
.col{
    width:25%;
    padding:15px;
}
.col li, .col a{
    color: #ccc;
    font-weight: normal;
    padding:5px;
}
.col h3{
    padding-top: 20px;
}
.col img{
    width:80%;
}

/* filter modal */
.filter-menu{
    display: flex;
    padding: 20px;
}
.filter-container{
    position: relative;
    padding: 20px;
}
.filter-options{
    width: 40%;
}
.filter-options li{
    padding: 10px 0;
}
.sort-tab, .filter-menu p{
    padding:10px 0;
}
.delivery-tab, .Veg-tab, .ratings-tab{
    display: none;
    padding:10px 0;
}
.filter-btns{
    padding: 20px 0;
}
.filter-btns button{
    border:1px solid #ccc;
    background-color: none;
    padding:5px 15px;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
}
#gt4 , #lt4, #vlt4, #veg, #non-veg, #htl, #lth{
    display: none;
}
#reshigh, #reslow, #deltime, #vegres, #non-vegres{
    display: none;
}
#clear-filter, #clear-res{
    background-color: #fe5d0d;
    color: #fff;
    display: none;
}
#close-filter{
    position: absolute;
    color: #fe5d0d;
    top:0;
    right:0;
    border: none;
    background: none;
}
.filter-head{
    padding: 20px 0;
}
.filter-modal{
    width: 70%;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    left: 15%;
    /* box-shadow: 0 0 50px #000; */
    z-index: 50;
}
.overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    height: 100%;
    width: 151%;
    top:-30%;
    left:-30%;
    z-index: 20;
}
.hidden{
    display: none;
}


/* app locator */
#app-locator{
    display:flex;
    justify-content: space-between;
    padding: 25px 0;
}
#app-locator img{
    width: 25%;
    padding: 10px;
}

/* Products section */
#product-section{
    padding: 50px 0;
}
.product-main-container{
    width: 100%;
    margin: auto;
    position: relative;
}
.product-display{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
}
.product-col{
    width:49%;
    display: flex;
    align-items: center;
    border: 1px solid green;
    border-radius: 10px;
}
.product-col p{
    font-size: small;
    padding:5px 0;
}
.product-col span, .hotel-head span{
    padding: 3px;
    margin: 5px 5px 5px 0;
}
.product-description{
    width:90%;
    padding:15px;
}
.descrip{
    color: #aaa;
}
.product-img{
    padding: 15px;
    position: relative;
}
.product-img img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
}
.cart-btn{
    position: absolute;
    bottom:5%;
    left:20%;
    background-color: #fff;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    width:60%;
    padding: 5px;
    color:green;
}
.hotel-head{
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap:20px
}
.hotel-head img{
    width: 20%;
    padding: 10px;
    border-radius: 30px;
}
.hotel-details{
    width:80%;
    padding: 10px;
}

/* cart container */
nav{
    position: relative;
}
.cart-container{
    width:90%;
    height:85vh;
    position:absolute;
    top:120%;
    right: 1%;
    background-color: #e7e7e7;
    box-shadow: 0 0 5px #000;
    padding: 30px;
    display: none;
    gap: 20px;
}
.shopping-cart {
    width: 75%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}
.checkout-container{
    width: 75%;
    background-color: #ffffff;
    display: none;
    padding: 20px;
    border-radius: 10px;
}
.address-head{
    padding: 10px;
}
.address-radio{
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
}
label{
    display: flex;
    width: 100%;
}
label i{
    padding: 0 8px 0 0;
}
.address-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
#payment-btn{
    width: 98%;
    margin: auto;
    border: none;
    color: #fff;
    background-color: #fe5d0d;
    padding: 8px;
}
.order-summary{
    width: 25%;
    padding:20px;
    background-color: #ffffff;
    border-radius: 10px;
    height: 100%;
}
input[type=radio]{
    width: 100%;
    height: 15px;

}
button:active{
    transform: scale(0.9);
}
.checkout-container input{
    width: 48%;
    outline: none;
    border: 1px solid #ccc;
    padding: 10px;
    accent-color: #000;
    background-color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}
.cart-items, .cart-col{
    display: flex;
    padding: 10px 30px;
    border: 1px solid #ccc;
}.cart-row{
    overflow: auto;
    height:70%;
}
.cart-section{
    height:65vh;
}
.cart-items p{
    color: #aaa;
}
#cart-back{
    border: none;
    background: none;
    color: blue;
    padding: 20px 10px;
    font-size: 16px;
}
.product-details{
    width: 50%;
    display: flex;
}
.product-quantity{
    width:20%;
}
.product-price{
    width:15%;
}
.product-total{
    width:15%;
}
.item-image{
    width:30%;
}
.item-image img{
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}
.item-details{
    width:60%;
}
.item-details h4{
    font-size: 13px;
}
.item-details p{
    color: #aaa;
    padding-top:5px;
    font-size: 12px;
}
.item-details button{
    border: none;
    background: none;
    color: crimson;
    font-size: 12px;
    padding: 5px 0;
}
.product-quantity, .product-price, .product-total{
    display: flex;
    align-items: center;
}
.quantity-btns{
    display: flex;
    width:60%;
    padding: 2px 15px;
    justify-content:space-between;
    align-items: center;
    border:1px solid green;
}
.quantity-btns button{
    border: none;
    background: none;
    color: green;
}
#close-cart{
    border:none;
    background: none;
    padding: 5px;
    color: blue;
    cursor: pointer;
}
.summary-head{
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}
.summary-details{
    display: flex;
    justify-content: space-between;
    padding:30px 0;
}
.shipping-details, .shipping-details h5{
    padding:10px 0;
}
.shipping-charges, .tax-details{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.summary-total{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ccc;
    vertical-align: bottom;
    padding: 20px 0;
}
#check-out{
    border: none;
    background-color: #fe5d0d;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    display: none;
}
.order-summary p{
    font-size: 13px;
    padding: 10px 0;
}

.order-confirmation-modal{
    position: absolute;
    background-color: #fff;
    width: 40%;
    height: 60vh;
    top:400%;
    left: 50%;
    transform: translate(-50%,-30%);
    text-align: center;
    z-index: 300;
    padding: 30px;
    border-radius: 10px;
}
.confirmation-icon{
    width: 80px;
    height: 80px;
    margin: auto;
    border: 2px solid green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: green;
}
.confirmation-icon-animation{
    animation: tick ease 2s;
    transition: all 2s ease;
}
.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:rgba(0,0,0,1);
}
.confirmation-msg{
    padding: 30px;
}
.confirmation-msg p{
    padding: 5px 0;
}
.back-to-home button{
    width: 50%;
    padding: 8px;
    border: none;
    background-color: #fe5d0d;
    color: #fff;
    border-radius: 5px;
}

@keyframes tick{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}